@model photographers.Models.portfolio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>portfolio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.aboutme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aboutme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coverIMG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coverIMG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img9)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDportfoglio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
