@model IEnumerable<photographers.Models.portfolio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aboutme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coverIMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img9)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aboutme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coverIMG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img9)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDportfoglio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDportfoglio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDportfoglio })
        </td>
    </tr>
}

</table>
