@model photographers.Models.location

@{
    ViewBag.Title = "Details";
}


<h2><span class="text-secondary">@Html.ActionLink("<", "Index","locations",null, new {@class= "link-secondary text-decoration-none" }) | </span> Locations</h2>

<div>

    <hr />


    <div class="row w-75 m-auto pt-5">
        <div class="col-12 col-md-6 px-3 mb-3 ">
            <div class="d-flex flex-column align-items-start ps-5">
                <h1 class="card-title my-5">@Html.DisplayFor(model => model.location1)</h1>
                <p class="card-text text-start">@Html.DisplayFor(model => model.Describtion)</p>
                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
            </div>
        </div>

        <div class="col-12 col-md-6 d-flex ">
            <img src="~/Content/img/locations/@Model.locationURL" style="width:auto;height:60vh; object-fit:cover; object-position:center" class="img-thumbnail ms-auto me-auto" alt="location">
        </div>
    </div>



</div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDlocation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
