@model IEnumerable<photographers.Models.location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.location1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Describtion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.location1)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.locationURL)*@
            <img src="~/Content/img/locations/@item.locationURL" alt="pizza foto" style="width:50px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Describtion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDlocation }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDlocation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDlocation })
        </td>
    </tr>
}

</table>
