@model IEnumerable<photographers.Models.location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-responsive .w-auto ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.location1)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.locationURL)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Describtion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td >
            <div class=" card d-flex flex-column align-items-center pb-3">
                <h3>
                    @Html.DisplayFor(modelItem => item.location1)
                </h3>

                <img src="~/Content/img/locations/@item.locationURL" alt="location" style="width:150px;height:100px; object-fit:cover" class="img-thumbnail img-fluid" />
            </div>
        </td>
        @*<td>
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Describtion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDlocation }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDlocation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDlocation })
        </td>
    </tr>
}

</table>

