<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Roman Frame</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body class="p-0 m-0">
    @*</button>
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    <div class="row container-fluid m-0 p-0" style="height: 100vh">

        <div class="col-md-1 d-flex flex-md-column flex-shrink-0 p-3 text-white " style="width: 150px; background-color: #14213D ">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Roman Frame</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto text-uppercase align-items-center">
                <li class="nav-item">
                    <a href="../Home/Index.cshtml" class="nav-link @*active*@" aria-current="page">
                        <i class="bi bi-house" style="font-size:30px" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Home"></i>
                    </a>
                </li>
                <li>@Html.ActionLink("Home", "Index", "Home",null, new { @class = "bi bi-house text-decoration-none" })</li>







                

                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-camera" style="font-size:30px" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Photographers"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-geo-alt" style="font-size:30px" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Avalable Spots"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-calendar-plus" style="font-size:30px" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="Book Your Photoshoot"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white">
                        <i class="bi bi-info-circle" style="font-size:30px" data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="About us"></i>
                    </a>
                </li>
            </ul>
            <hr>
            <div class="d-flex justify-content-center align-content-center ">

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <div>@User.Identity.Name</div>
                        <div>
                            <i class="d-flex bi bi-box-arrow-left text-decoration-none text-warning">@Html.ActionLink("(Logout)", "logout", "users", null, new { @class = "text-decoration-none text-warning" })</i>
                        </div>
                    </div>              

                }
                else
                {
                    <i>@Html.ActionLink("LOGIN", "login", "users", null, new { @class = "bi bi-box-arrow-in-right text-decoration-none" })</i>
                }


            </div>
        </div>





        <div class="col body-content m-0 p-0">
            @RenderBody()

        </div>
        <footer class="fixed-bottom d-flex justify-content-end text-light">
            <hr />
            <p>   &copy; @DateTime.Now.Year - My ASP.NET Application | Created by: <a class="text-decoration-none text-light" href="http://araspourbijan.com/">Aras Pourbijan</a> MVC EF framework 4.7.2 </p>

        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>

</body>
</html>
