@model IEnumerable<photographers.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            ********
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDuser }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDuser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDuser })
        </td>
    </tr>
}

</table>
